<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
   
    <h3 style="text-align: center;margin-bottom: 50px;">Welcome to <%= title %></h3>
    <% if(result != '' ){%>
      <div class="alert alert-success" role="alert">
       <h5 style="text-align: center;"><%= result %></h5>
      </div>
    <%}%>
    <div class="container">
      <form action="/uploads" method="post" role="form" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          
          <div class="form-group">
            <label for="name" style="font-weight: 700;">Image Name : </label>
            <input type="text" class="form-control" placeholder = "Enter Image name" name="imgname">
          </div>


          <div class="form-group">
            <label for="upload"></label>
            <input type="file" class="form-control" name="file">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      </form>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="text-align: center; margin: 50px;">
        <table class="table ">
          <tbody>
            <tr>
              
              <% if(imgName != ''){%>
              <%imgName.forEach(function(row){%>
               <td> <img src="./images/<%=row.imgname%>" alt="image1" style="width: auto; height : 300px;"/></td>
               <% })} %>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </body>
</html>
